.nav a {
  color: #5a5a5a;
  padding: 14px 10px;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 12px;
  line-height: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 500;
  font-style: normal;
  list-style-type: none;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://i62.tinypic.com/nx9yc7.jpg');
  background-position: px -200px;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top: 60px;
  right: 100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #ffffff;
}

.learn-more {
  background-color: #ffffff;
}

.title {
  align: "right";
}

.img-circle {
    border-radius: 50%;
    border: 2px solid #79ecea;  margin: 50px;  margin-right: 100px; margin-top:60px; padding: 5px;
    width:240px; /* you can use % */
    height: auto;
}

.learn-more h3 {
  font-family: "Raleway";
  font-size: 34px;
  line-height: 1.25em;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: normal;
  color: #1c1c1c;
  margin: 2em 0 .75em;
}

.learn-more p {
  line-height: 1.4em;
      font-family: "Lato";
    font-size: 14px;
    line-height: 1.75em;
    text-transform: none;
    letter-spacing: .4px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgba(28,28,28,.9);
}

.learn-more a {
  line-height: 1.4em;
      font-family: "Lato";
    font-size: 14px;
    line-height: 1.75em;
    text-transform: none;
    letter-spacing: .4px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #18a5a3;;
}

.neighborhood-guides {
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
    font-weight: bold;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}